.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  width: 900px;
margin: 0 auto;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.search-bar {
  width: 40%;
  padding: 5px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;

}

.user-icon {
  position: relative;
  cursor: pointer;
  color: red;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-icon {
  cursor: pointer;
  color: red;
}
.icon{
  color: red;
}